<!-- <html>
<head>
<title></title>
<style type="text/css">
#vertical-line{
        position: "absolute";
        top: "200px";
        left: "250px";
        width: 5px;
        height: 500px;
        /* x: 200; */
        /* background-position-x: 200px; */
        /* -ms-scroll-limit-y-max: 100px;*/
        background-color: silver 
} 
#horizontal-line{
    position: "absolute";
    top: 500;
    left: 300;
    width: 5px;
    height: 800px;
    background-color: black;
}
</style>

</head>
<body>
<div id="horizontal-line"></div> 
<hr id="horizontal-line"> </hr>
<div id="vertical-line"></div>
</body> -->

<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Draw a line</title>
</head>
<body>
<canvas id="DemoCanvas" width="400" height="400"></canvas>  
<script>  
var canvas = document.getElementById('DemoCanvas');
if (canvas.getContext) 
 {
  var ctx = canvas.getContext("2d");
     for (i = 10; i < 200; i += 20) 
	     {
           
		   ctx.moveTo(0, i);
		   ctx.lineTo(canvas.width, i);
		   ctx.stroke();
		  }
     for (i = 10; i <400; i += 20) 
	     {
		   ctx.moveTo(i, 0);
		   ctx.lineTo(i,canvas.width/2);
		   ctx.stroke();
		  }
  } 
</script>  
</body>
</html>